/* Image.css */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(237, 241, 141);
    background: linear-gradient(0deg, rgba(237, 241, 141, 1) 0%, rgba(108, 203, 238, 1) 100%);
    width: 100%;
    background-repeat: no-repeat;
  }
  
  /* Style for individual carousel items */
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    /* Để đảm bảo hình ảnh không bị cắt */
    transform: scale(0.7);
    /* Thu nhỏ hình ảnh 50% */
    width: 100%;
    display: inline-block;
    box-shadow: 5px 10px 5px lightcyan;
  }
  
  
  /* Style for the previous and next buttons */
  .carousel-prev,
  .carousel-next {
    background-color: none;
    color: white;
    padding: 10px;
  }
  
  
  /* Style for the image container */
  .image-container {
    display: flex;
    justify-content: center;
    /* Canh giữa theo chiều ngang */
    align-items: center;
    /* Canh giữa theo chiều dọc */
    height: 70vh;
    /* Điều chỉnh chiều cao tối đa theo tỷ lệ màn hình */
  }
  
  /* TicketInfor.css */
  .ticket-information {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #333;
    padding: 8px;
  }
  
  th {
    background-color: #1E646E;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Footer.css */
  .footer {
    background-color: #002C2F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  body{
    background-color: #FEF0BF;
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color:#002C2F ;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: #f2f2f2;
  }
  
  .icon-text {
    margin-left: 8px; 
    color: #f2f2f2;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .white-icon {
    fill: white; 
    margin-bottom:50px ;
  }
  